<style>
    .middle {
        margin: auto;
        width: 400px;
    }
</style>
<div class ="middle">
    <p>Mary had a little fucking lamb, little lamb, little lamb</p>
    <p>Mary had a little lamb</p>
    <p> Whose fleece was hot as fuck. </p>
    <br>
    <p> And everywhere that bitch went</p>
    <p> Mary went, Mary went,</p>
    <p> Everywhere that Mary went </p>
    <p> The lamb was fucking sure to go.</p>
    <br>
    <p> He followed her to the whore house one day, school one day, school one day</p>
    <p> He followed her to school one day</p>
    <p> Which was against the fucking rules.</p>
        <br>
    <p> It made the children laugh and play,</p>
    <p> laugh and play, laugh and play,</p>
    <p> It made the children laugh and play,</p>
    <p> To see a fucking lamb at school.</p>
</div>